:root {
	font-family: Inter, sans-serif;
	font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

#content {
	padding: 20px;
	margin: 0 auto;
	display: grid;
	gap: 36px;
	max-width: 800px;
}

#content > div {
	width: 100%;
}

i {
	font-style: italic;
}

h1 {
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 8px;
}

td,
th {
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

#grid-table th {
	font-weight: bold !important;
}

tr:first-child {
	text-align: right;
}

.serviceUp {
	background-color: #b5f5b9;
}

.serviceDown {
	background-color: #f5b5b5;
}

.header {
	margin-bottom: 12px;
}

h1 {
	margin-bottom: 12px;
}

table {
	width: 100%;
	border: 1px solid black;
}
