<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ base.mock_title }}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" href="/assets/style.css">
	{% block head %}{% endblock %}
  </head>
  <body>
    <div id="content">
		<div id="navbar-lip"></div>
		<div id="navbar">
			<span class="mockTitle">{{ base.mock_title }} 
				{% match base.engine_state %}
					{% when EngineState::Started with {time_started, time_remaining_at_start} %}
						<div class="upCircle" title="scoring started"></div>
					{% when EngineState::Stopped with {time_remaining} %}
						<div class="downCircle" title="scoring stopped"></div>
					{% when EngineState::Uninitialized %}
						<div class="uninitializedCircle" title="scoring uninitialized"></div>
				{% endmatch %}
			</span>
			<a href="/">status</a>
			{% if base.user.is_some() %}
				<a href="/injects">injects</a>
				<a href="/logout">logout</a>
			{% else %}
				<a href="/login">login</a>
			{% endif %}
		</div>
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </div>
  </body>
</html>
